@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');


body{
  background: #ECF3FB;
  font-family: 'Roboto', sans-serif;
}

.container{
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

input{
  width: 60%;
  margin-top: 50px;
  border-radius: 3px;
  padding: 10px

}

.sendButton{
  padding: 10px;
  margin-left: 2px;
  border-radius: 3px;
  background: #0080FF;
  color: #fff;
  border: #0080FF 2px solid;
  font-weight: bold;
}

h5{
  letter-spacing: 1px;
}

.messageItem{
  width: 70%;
  display: inline-block;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  text-align: start;
  background: #0080FF;
  color: #fff
}

.deleteBtn{
  border-radius: 50%;
  background: #FF3E59;
  color: #fff;
  border: none
}
